.playersOnlineBanner {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: whitesmoke;
  background-color: #DE4040;

  p {
    font-weight: 650;
    font-size: 1.3em;
    padding: 0;
    margin: 0;
  }
}