.primaryButton {
  color: white;
  border: none;
  margin: 0px 10px;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
}
