.searchBox input {
  outline: none !important;
  cursor: text;
  width: 100%;
  min-height: 38px !important;
  border-radius: 4px !important;
  padding: 0 !important;
  margin: 0 !important;
  color: hsl(0, 0%, 20%) !important;
  text-indent: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: white !important;
  border-color: #1f99ff !important;
  border-width: 8px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  &:focus {
    border-color: #0080ff;
    box-shadow: 0 0 2px 2px #0080ff;
  }
}

.clearButton {
  cursor: pointer;
  min-height: 38px;
  border-radius: 4px;
  color: white;
  font-size: 28px;
  font-weight: 400;
  background-color: #cb3939;
  border-color: #cb3939;
  border-width: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  &:hover {
    background-color: #ee5151;
    border-color: #ee5151;
  }
}

.shuffleCards {

  width: 100%;
  min-height: 90vh;
  flex-flow: column wrap;
  justify-content: space-evenly;

  .bannerHitbox {
    position: absolute;
    height: 16px;
    width: 38px;
    top: -8px;
    left: -8px;
  }

  .specialBanner {
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    height: 0;
    width: 20px;
    top: 34px;
    left: -6px;

    border-top: 8px solid;
    border-left: 8px solid;
    border-bottom: 8px solid;

    p {
      position: absolute;
      left: -20px;
      top: -20px;

      width: 60px;

      font-family: 'Tahoma', fantasy;
      font-weight: 1000;
      font-size: 12px;
      text-align: center;
    }
  }

  .special-transmute {
    border-color: #d369e7;
    border-right: 8px solid transparent;
  }
  .special-event {
    border-color: #47dba4;
    border-right: 8px solid transparent;
  }
  .special-discontinued {
    border-color: #a0a0a0;
    border-right: 8px solid transparent;
  }

  .rarityBanner {
    border-radius: 4px 0px 0px 4px;
    position: absolute;
    height: 0;
    width: 20px;
    top: 12px;
    left: -6px;

    border-top: 8px solid;
    border-left: 8px solid;
    border-bottom: 8px solid;

    p {
      position: absolute;
      left: -20px;
      top: -20px;

      width: 60px;

      font-family: 'Tahoma', fantasy;
      font-weight: 1000;
      font-size: 12px;
      text-align: center;
    }
  }

  .rarity-Common {
    border-color: white;
    border-right: 8px solid transparent;
  }
  .rarity-Uncommon {
    border-color: #2b83ff;
    border-right: 8px solid transparent;
  }
  .rarity-Rare {
    border-color: #942dcf;
    border-right: 8px solid transparent;
  }
  .rarity-Epic {
    border-color: #fc5656;
    border-right: 8px solid transparent;
  }
  .rarity-Unique {
    border-color: #f8bd24;
    border-right: 8px solid transparent;
  }

  .shuffleCard {
    display: inline-flex;
    position: relative;
    margin: 10px;
    width: 300px;
    background-color: #292929;

    border-style: solid;
    border-width: 10px 0 0 0;
    border-radius: 10px;

    flex-flow: column;

    .shuffleContent {
      flex-flow: column;

      .shuffleElement {
        align-content: center;
        width: 100%;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;

        .title {
          font-weight: 700;
          color: white;
        }

        .subtitle {
          font-weight: 500;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
          color: white;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .subContent {
            padding: 0px 2px;
            margin: 0px 5px;
            text-align: center;
          }
        }

        .tag {
          display: inline-flex;
          margin: 0px 2px;

          font-weight: 600;
          font-size: 0.7em;

          color: white;
          text-transform: uppercase;
          background-color: #3b5998;
          padding: 4px 6px;
          border-radius: 2px;

          &:hover {
            background-color: #4c6db1;
          }
        }



        .lore {
          margin: 0 !important;
          font-weight: 800 !important;
          font-family: "ＭＳ Ｐゴシック", monospace !important;
        }

        img {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}

.selectorButton-clear {
  background-color: #de4040;
  color: white;
  border: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.selectorButton-inactive {
  background-color: #d4d4d4;
  color: white;
  border: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.selectorButton-active {
  background-color: #3dafff;
  color: #ffffff;
  border-style: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}