@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.filterTitles {
  font-weight: 600;
  color: whitesmoke;
}

.searchBox input {
  outline: none !important;
  cursor: text;
  width: 100%;
  min-height: 38px !important;
  border-radius: 4px !important;
  padding: 0 !important;
  margin: 0 !important;
  color: hsl(0, 0%, 20%) !important;
  text-indent: 10px;
  font-size: 16px;
  font-weight: 400;
  background-color: white !important;
  border-color: #1f99ff !important;
  border-width: 8px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  &:focus {
    border-color: #0080ff;
    box-shadow: 0 0 2px 2px #0080ff;
  }
}

.clearButton {
  cursor: pointer;
  min-height: 38px;
  border-radius: 4px;
  color: white;
  font-size: 28px;
  font-weight: 400;
  background-color: #cb3939;
  border-color: #cb3939;
  border-width: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;

  &:hover {
    background-color: #ee5151;
    border-color: #ee5151;
  }
}

.special-transmute {
  background: #d369e7;
}

.special-event {
  background: #47dba4;
  color: black;
}

.special-discontinued {
  background: #a0a0a0;
}

.rarity-Common {
  background: white;
  color: black;
}

.rarity-Uncommon {
  background: #2b83ff;
}

.rarity-Rare {
  background: #942dcf;
}

.rarity-Epic {
  background: #fc5656;
}

.rarity-Unique {
  background: #f8bd24;
}

.shuffleCard {
  display: inline-flex;
  position: relative;
  margin: 10px;
  width: 320px;

  border-style: solid;
  border-width: 1px;

  flex-flow: column;
}

.subtitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

.lore {
  color: white;

  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 400;

  line-height: 1;
  letter-spacing: 1px;
}

.drops-range-format {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: white;
}

.drops-global-format {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: #d1ffce;
}

.drops-specific-format {
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: #dfbeff;
}

.enchantable {
  background-image: url('../../../public/assets/enchantable.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
}

.socket {
  background-image: url('../../../public/assets/socket.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
}

.socketExtender {
  background-image: url('../../../public/assets/extender.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
}

.selectorButton-clear {
  background-color: #de4040;
  color: white;
  border: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.selectorButton-inactive {
  background-color: #d4d4d4;
  color: white;
  border: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.selectorButton-active {
  background-color: #3dafff;
  color: #ffffff;
  border-style: none;
  margin: 0;
  outline: 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.bookImg {
  background-image: url('../../../public/assets/book.webp');
  background-size: 100%
}

.socketGemImg {
  background-image: url('../../../public/assets/gem/socket_gem_2.png');
  background-size: 100%
}

.weak-scroll { background-image: url('../../../public/assets/scroll/weak.png'); background-size: 100% }
.lesser-scroll { background-image: url('../../../public/assets/scroll/lesser.png'); background-size: 100% }
.greater-scroll { background-image: url('../../../public/assets/scroll/greater.png'); background-size: 100% }
.grand-scroll { background-image: url('../../../public/assets/scroll/grand.png'); background-size: 100% }
.mythical-scroll { background-image: url('../../../public/assets/scroll/mythical.png'); background-size: 100% }
.stable-scroll { background-image: url('../../../public/assets/scroll/stable.png'); background-size: 100% }
.unstable-scroll { background-image: url('../../../public/assets/scroll/unstable.png'); background-size: 100% }

.sword-icon { background-image: url('../../../public/assets/equipment/sword.png'); background-size: 100% }
.dagger-icon { background-image: url('../../../public/assets/equipment/dagger.png'); background-size: 100% }
.mace-icon { background-image: url('../../../public/assets/equipment/mace.png'); background-size: 100% }
.hammer-icon { background-image: url('../../../public/assets/equipment/hammer.png'); background-size: 100% }
.axe-icon { background-image: url('../../../public/assets/equipment/axe.png'); background-size: 100% }
.wand-icon { background-image: url('../../../public/assets/equipment/wand.png'); background-size: 100% }
.staff-icon { background-image: url('../../../public/assets/equipment/staff.png'); background-size: 100% }
.shortbow-icon { background-image: url('../../../public/assets/equipment/shortbow.png'); background-size: 100% }
.longbow-icon { background-image: url('../../../public/assets/equipment/longbow.png'); background-size: 100% }
.flintlock-icon { background-image: url('../../../public/assets/equipment/flintlock.png'); background-size: 100% }
.rifle-icon { background-image: url('../../../public/assets/equipment/rifle.png'); background-size: 100% }
.battletome-icon { background-image: url('../../../public/assets/equipment/spellbook.png'); background-size: 100% }
.bullets-icon { background-image: url('../../../public/assets/equipment/bullets.png'); background-size: 100% }
.quiver-icon { background-image: url('../../../public/assets/equipment/quiver.png'); background-size: 100% }
.shield-icon { background-image: url('../../../public/assets/equipment/shield.png'); background-size: 100% }
.kiteshield-icon { background-image: url('../../../public/assets/equipment/kiteshield.png'); background-size: 100% }
.buckler-icon { background-image: url('../../../public/assets/equipment/buckler.png'); background-size: 100% }

.fishingrod-icon { background-image: url('../../../public/assets/equipment/fishingrod.png'); background-size: 100% }
.pickaxe-icon { background-image: url('../../../public/assets/equipment/pickaxe.png'); background-size: 100% }
.hoe-icon { background-image: url('../../../public/assets/equipment/hoe.png'); background-size: 100% }
.woodcuttingaxe-icon { background-image: url('../../../public/assets/equipment/woodcuttingaxe.png'); background-size: 100% }

.magichelm-icon { background-image: url('../../../public/assets/equipment/magichelm.png'); background-size: 100% }
.magicbody-icon { background-image: url('../../../public/assets/equipment/magicbody.png'); background-size: 100% }
.magiclegs-icon { background-image: url('../../../public/assets/equipment/magiclegs.png'); background-size: 100% }
.magicboots-icon { background-image: url('../../../public/assets/equipment/magicboots.png'); background-size: 100% }

.heavyhelm-icon { background-image: url('../../../public/assets/equipment/heavyhelm.png'); background-size: 100% }
.heavybody-icon { background-image: url('../../../public/assets/equipment/heavybody.png'); background-size: 100% }
.heavylegs-icon { background-image: url('../../../public/assets/equipment/heavylegs.png'); background-size: 100% }
.heavyboots-icon { background-image: url('../../../public/assets/equipment/heavyboots.png'); background-size: 100% }

.lighthelm-icon { background-image: url('../../../public/assets/equipment/lighthelm.png'); background-size: 100% }
.lightbody-icon { background-image: url('../../../public/assets/equipment/lightbody.png'); background-size: 100% }
.lightlegs-icon { background-image: url('../../../public/assets/equipment/lightlegs.png'); background-size: 100% }
.lightboots-icon { background-image: url('../../../public/assets/equipment/lightboots.png'); background-size: 100% }

.ruby-earring-icon { background-image: url('../../../public/assets/equipment/9000.png'); background-size: 100% }
.ruby-necklace-icon { background-image: url('../../../public/assets/equipment/ruby_necklace.png'); background-size: 100% }
.ruby-ring-icon { background-image: url('../../../public/assets/equipment/ruby_ring.png'); background-size: 100% }

.emerald-earring-icon { background-image: url('../../../public/assets/equipment/9100.png'); background-size: 100% }
.emerald-necklace-icon { background-image: url('../../../public/assets/equipment/emerald_necklace.png'); background-size: 100% }
.emerald-ring-icon { background-image: url('../../../public/assets/equipment/emerald_ring.png'); background-size: 100% }

.sapphire-earring-icon { background-image: url('../../../public/assets/equipment/9200.png'); background-size: 100% }
.sapphire-necklace-icon { background-image: url('../../../public/assets/equipment/sapphire_necklace.png'); background-size: 100% }
.sapphire-ring-icon { background-image: url('../../../public/assets/equipment/sapphire_ring.png'); background-size: 100% }

.topaz-earring-icon { background-image: url('../../../public/assets/equipment/9300.png'); background-size: 100% }
.topaz-necklace-icon { background-image: url('../../../public/assets/equipment/topaz_necklace.png'); background-size: 100% }
.topaz-ring-icon { background-image: url('../../../public/assets/equipment/topaz_ring.png'); background-size: 100% }