@keyframes wobble {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(0.75deg); }
  30% { transform: rotate(-0.625deg); }
  45% { transform: rotate(0.5deg); }
  60% { transform: rotate(-0.375deg); }
  75% { transform: rotate(0.25deg); }
  90% { transform: rotate(-0.125deg); }
  100% { transform: rotate(0deg); }
}

.mainBanner {
  width: 100%;
  height: 30vw;
  min-height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .videoBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 40vw;
    min-height: 350px;
    z-index: -1;
    object-fit: cover; /* combined with 'absolute', works like background-size, but for DOM elements */
  }

  .desktopTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;

    img {
      height: 100%;
      width: auto;
      cursor: pointer;

      &:hover {
        animation: wobble 0.6s ease-in-out;
      }
    }
  }

  .mobileTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;

    img {
      width: 100%;
      cursor: pointer;

      &:hover {
        animation: wobble 0.6s ease-in-out;
      }
    }
  }
}
