.copyContainer {
  display: inline-block;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
  border-radius: 4px;

  .copyButton {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-size: calc(0.7rem + 0.7vw);

    .divider {
      margin: 0 7px;
      border-left: 1px solid;
      border-color: rgba(0, 0, 0, 0.3);
    }

    svg {
      display: inline;
      width: calc(0.7rem + 0.7vw);
    }
  }
}