.copyButton {
  display: inline-block;
  border: none;
  padding: 5px 10px 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: calc(0.8rem + 0.7vw);
  z-index: 1;
  cursor: pointer;
  border-radius: 4px;

  .divider {
    border-left: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    margin: 0 7px;
  }
}