.Portrait {

  .entryItem {
    margin: 5px auto;
    padding: 5px;
    border-radius: 10px;
    width: 92%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .move-prompt {
      width: 24px;
      font-size: 32px;
      line-height: 28px;
      color: white;
    }

    .selectContainer {
      flex-grow: 20;
      min-width: 200px;
      text-align: left;
      margin-left: 5px;
      display: flex;

      .categoryDropdown {
        width: 79px;
      }

      .textureDropdown {
        flex-grow: 20;
        margin-left: 5px;
      }
    }

    .delete {
      background-color: #c73636;
      border-radius: 20px;
      margin-left: 5px;
      width: 38px;
      font-size: 24px;
      font-weight: bold;
      line-height: 10px;
      color: white;
      justify-content: center;
    }
  }

  .itemBkg {
    background-color: #387dc7;
  }

  .palsBox {
    width: 100%;
    height: calc(100vh - 58px);
    padding-top: 7px;
    padding-bottom: 1px;
    background-color: #3b5998;
    display: flex;

    .imageZone {
      width: 60%;
      border-radius: 10px;
      margin: 40px;
      background-color: #294072;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .modal-button {
        position: absolute;
        font-size: 32px;
        bottom: 10px;
        left: 10px;
      }

      .image {
        position: relative;
        background-color: #060a1f;
        height: 85%;
        max-width: 85%;
        aspect-ratio: 1 / 1;

        .fade {
          opacity: 0.33;
        }

        .tintedIcon {
          position: absolute;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;

          canvas {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }

    .listZone {
      width: 40%;
      min-width: 425px;
      border-radius: 10px;
      margin: 40px 40px 40px 0;
      background-color: #294072;

      display: flex;
      flex-direction: column;

      .scrollZone {
        position: relative;

        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
      }

      .addBkg {
        border-color: #47dba4;
        color: #47dba4;
        border-style: dashed;
        border-width: 1px;

        font-weight: 1000;
        font-size: 24px;

        min-height: 3.5vh;

        &:hover {
          border-color: white;
          color: white;
          background-color: rgba(99, 234, 184, 0.31)
        }

        p {
          text-align: center;
          width: 100%;
          height: 100%;
          margin: -2px 0px 0px;
        }
      }
    }
  }
}