<header class="header">
    <div class="header-inner">
        <a href="{{ path('index') }}" class="logo">
            <img src="https://cdn.craftingstore.net/rPPmDHlLQ1/0c94e9d3960688abe2d4124bbf7fc97c/p3aqap0vqsvnqxxzqc8e.png" alt="{{ store.name }}" style="width: auto; height: 300px;">
        </a>

        <button class="mobile-nav-toggle" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        {% include 'navbar.twig' %}
    </div>
</header>
