<div class="module">
    {% if module.title %}
    <h3 class="module-title">{{ module.title }}</h3>
    {% endif %}

    <div class="module-content">
        {{ module.content|raw }}
    </div>
</div>
