.basicPanel {
  color: whitesmoke;
  padding: 15px;
  flex-direction: column;

  .bodyTitle {
    font-weight: 800;
    font-size: 30px;
    margin: 10px;
  }
}

.slide-from-right-hidden {
  opacity: 0;
  transform: translateX(50px);
}

.slide-from-right-visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-from-left-hidden {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-from-left-visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
