.Embed {
  .mobileEmbedContainer {
    width: 100%;
    height: calc(100vh - 58px);
    padding-top: 7px;
    padding-bottom: 1px;
    background-color: #3b5998;
    display: flex;
    flex-direction: column;

    .embedContainer {
      position: relative;
      width: 90%;
      height: 90%;
      background-color: #294072;
      border-radius: 10px;
      margin: 3% 5%;
    }

    .mobileEmbedZone {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 20px;
    }
  }

  .embedBox {
    width: 100%;
    height: calc(100vh - 58px);
    padding-top: 7px;
    padding-bottom: 1px;
    background-color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .embedZone {
    width: 80%;
    height: 85%;
    border-radius: 10px;
    background-color: #294072;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .embedFrame {
    position: relative;
    background-color: #060a1f;
    height: 90%;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
