@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/bulma";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

.hero.is-banner {
  background-image: url("/banner_background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #44acbc;
}

#gem-table {
  width: 100%;
}

.gem-lore {
  background-color: #070007;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #19004a;
}